@model NowaDB.Models.Adres

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć adres?</h3>
<div>
    <h4>Adres</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerDomu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerDomu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerMieszkania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerMieszkania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kod)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
